doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Andrews ADR Services
    // Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/
    link(href='stylesheets/css/bootstrap.min.css', rel='stylesheet')
    // Custom CSS
    link(href='stylesheets/css/freelancer.css', rel='stylesheet')
    // Custom Fonts
    link(href='font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic', rel='stylesheet', type='text/css')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  body#page-top.index
    // Navigation
    nav.navbar.navbar-default.navbar-fixed-top
      .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header.page-scroll
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#page-top') Andrews ADR Services
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li.hidden
              a(href='#page-top')
            li.page-scroll
              a(href='#about') About
            li.page-scroll
              a(href='#contact') Contact
            li.page-scroll
              a(href='#portfolio') FAQ
        // /.navbar-collapse
      // /.container-fluid
    // Header
    header
      .container
        .row
          .col-lg-12
            .intro-text
              span.name Andrews ADR Services
              hr#head-hr
              span.skills Just stop bickering, you whiner
   
    // About Section
    section#about
      .container
        .row
          .col-lg-12.text-center
            h2 About
            hr
        .row
          .col-lg-4.col-lg-offset-2
            p
              | My name is Elaine, I have a big brain
          .col-lg-4
            p
              | And you will be crushed by my intellect
          //- .col-lg-8.col-lg-offset-2.text-center
          //-   a.btn.btn-lg.btn-outline(href='#')
          //-     i.fa.fa-download
          //-     |  Download Theme
    // Contact Section
    section#contact.success
      .container
        .row
          .col-lg-12.text-center
            h2 Contact
            hr#head-hr
        .row
          .col-lg-8.col-lg-offset-2
            // To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19.
            // The form should work on most web servers, but if the form is not working you may need to configure your web server differently.
            form#contactForm(name='sentMessage', novalidate='')
              .row.control-group
                .form-group.col-xs-12.floating-label-form-group.controls
                  label Name
                  input#name.form-control(name='name', type='text', placeholder='Name', required='', data-validation-required-message='Please enter your name.')
                  p.help-block.text-danger
              .row.control-group
                .form-group.col-xs-12.floating-label-form-group.controls
                  label Email Address
                  input#email.form-control(type='email', name='email', placeholder='Email Address', required='', data-validation-required-message='Please enter your email address.')
                  p.help-block.text-danger
              .row.control-group
                .form-group.col-xs-12.floating-label-form-group.controls
                  label Phone Number
                  input#phone.form-control(type='tel', name='phone', placeholder='Phone Number', required='', data-validation-required-message='Please enter your phone number.')
                  p.help-block.text-danger
              .row.control-group#antispam
                .form-group.col-xs-12.floating-label-form-group.controls
                  label Do not use
                  input(type='text', name='antispam', placeholder='No input here, please!', required='')
              .row.control-group
                .form-group.col-xs-12.floating-label-form-group.controls
                  label Message
                  textarea#message.form-control(rows='5', name='message', placeholder='Message', required='', data-validation-required-message='Please enter a message.')
                  p.help-block.text-danger
              br
              #success
              .row
                .form-group.col-xs-12
                  button.btn.btn-success.btn-lg(type='submit') Send
     // Portfolio Grid Section
    section#portfolio
      .container
        .row
          .col-lg-12.text-center
            h2 Frequently Asked Questions
            hr
        .row
          h3 How far in advance should I schedule a mediation?
          p
            |I tend to schedule matters two to three months out, but occasionally there is 
            |availability with int month that you contact me.  I find it most efficient to find a 
            |mutually agreeable date by scheduling through email.  All the parties can participate 
            |at the same time trying to finalize a date and location.  I do not schedule mediations 
            |from June 1 through August 31st.
          br
          h3 How long will the mediation take?
          p
            |Every mediation is unique but to the extent that there is an “average” mediation, it
            |generally takes about 6 or 7 hours.  I strongly discourage scheduling a mediation for 
            |more than one day.  In fact, I have only done three two-day mediations in the last 
            |thirteen years.  I have found that the parties retreat overnight and we almost have 
            |to begin again the next day.  For more complex cases, I recommend scheduling a 
            |much longer day to accomplish a complete and final settlement.  We do not break 
            |for meals so parties should arrange to pick up lunch or have it delivered so we can 
            |make the best use of our time.
          br
          h3 How do I conduct a mediation?
          p
            |First and foremost, I prepare.  I read everything that the parties submit, often more
            |than once.  When we meet the morning of the mediation, I have everyone who is 
            |present introduce themselves to each other.  I do not begin with “opening 
            |statements” from the various parties.  I generally begin the first session with the 
            |claimant and then move to the opposing party or parties.  The first session with each 
            |is usually the longest, taking half an hour to an hour with each side so I can give the 
            |parties a fair opportunity to share their concerns and positions with me and so that I 
            |can clear up any factual confusions I may have after reading the briefs.
          br
          p
            |After that, the separate sessions with each side tend to be shorter and I go back and 
            |forth between the parties until an agreement is reached.  Once an agreement is 
            |reached, we meet together and I record the settlement.
          br
          h3 What do the parties need to do to prepare for the mediation?
          p
            |Generally, I prefer to receive briefs or pleadings or summaries a week before the 
            |mediation.  That allows me to read the materials when they arrive, turn the matter 
            |over in my mind during the week, follow up with the parties if I think I am missing 
            |some critical information,  and finally, reread the materials again before the 
            |mediation.
          br
          p
            |Mediation should be cost effective and efficient.  If a matter has already been 
            |thoroughly briefed in a motion, feel free to submit the motion with whatever further 
            |comments you might think I would find helpful. The point is to educate me about 
            |your position and there is no need to rework a motion in to a brief format.
          br
          p
            |The most helpful briefs or summaries are those in which the party candidly analyzes 
            |the strengths and weaknesses of their position so that I can determine whether the 
            |party has a realistic or unrealistic view of their position.  This, of course, would only 
            |be done if the parties are submitting confidential briefs. 
            |The parties themselves determine if briefs are to be exchanged or remain 
            |confidential
          br
          h3 Where do you hold the mediation?
          p
            |Mediations are usually conducted in one of the attorneys’ conference rooms.  
            |Sometimes the parties rent a neutral location, but that adds to the cost of an already 
            |expensive endeavor.  Each adverse party need its own space.  I do not need a space 
            |as I am always  with one of the parties during the day.
          br
          h3 Do you travel to do mediations?
          p
            |Yes, I have held mediations all over Alaska  and in the Pacific Northwest
          br
          h3 How would you describe your style of mediation?
          p
            |I honed my mediation skills during my judicial career as a very active settlement
            |judge.  As a result, I tend to be highly evaluative, trying to give the parties an honest 
            |assessment of their position should the matter proceed to litigation.  
          br
          p
            |On the other hand, my joy in doing this work is to assist parties in reaching a 
            |settlement in which they are active participants in the solution.  I am not interested 
            |in dictating solutions.
          br
          p
            |I am an active listener.  I want the parties to know  that I have heard their concerns, 
            |that I have given their matter the time and attention it deserves and that I will be 
            |honest with them about the strengths and weaknesses of their position.
          br
          p
            |In the end, I am willing to tell the parties either that they should walk away from an 
            |unreasonable settlement proposal, that they would be foolish to walk away from a 
            |very reasonable settlement proposal, or that it is a close question and that I have no 
            |strong recommendation.  In the end it is their decision.
    // Footer
    footer.text-center
      .footer-above
        .container
          .row
            .footer-col.col-md-6
              h3 Location
              p
                | Anchorage, AK
            .footer-col.col-md-4
              h3 About Freelancer
              p
                | Freelance is a free to use, open source Bootstrap theme created by 
                a(href='http://startbootstrap.com') Start Bootstrap
                | .
      .footer-below
        .container
          .row
            .col-lg-12
              | Copyright © andrewsadrservices.com 2014
    // Scroll to Top Button (Only visible on small and extra-small screen sizes)
    .scroll-top.page-scroll.visible-xs.visible-sm
      a.btn.btn-primary(href='#page-top')
        i.fa.fa-chevron-up

    // jQuery
    script(src='javascripts/js/jquery.js')
    // Bootstrap Core JavaScript
    script(src='javascripts/js/bootstrap.min.js')
    // Plugin JavaScript
    script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js')
    script(src='javascripts/js/classie.js')
    script(src='javascripts/js/cbpAnimatedHeader.js')
    // Contact Form JavaScript
    script(src='javascripts/js/jqBootstrapValidation.js')
    script(src='javascripts/js/contact_me.js')
    // Custom Theme JavaScript
    script(src='javascripts/js/freelancer.js')